<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.smartcity_test5">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SmartCity_test5"
        android:usesCleartextTraffic="true">
        <activity android:name=".ui.personal.activity.OrderActivity"></activity>
        <activity
            android:name=".ui.personal.activity.FeedbackActivity"
            android:label="意见反馈"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ui.personal.activity.ChangeActivity"
            android:label="修改密码"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ui.personal.activity.UserInfoActivity"
            android:label="个人详情"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".LoginActivity" />
        <activity
            android:name=".bus.BusSubmitActivity"
            android:label="提交订单" />
        <activity
            android:name=".bus.BusInfoActivity"
            android:label="乘车信息" />
        <activity
            android:name=".bus.BusDingzhi2Activity"
            android:label="定制班车" />
        <activity
            android:name=".bus.BusDingzhiActivity"
            android:label="定制班车" />
        <activity
            android:name=".bus.BusMainActivity"
            android:parentActivityName=".MainActivity"
            android:label="智慧巴士" />
        <activity
            android:name=".GuideActivity"
            android:label="引导页" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>